
<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col class="ion-text-center">
      <img class="img-wosopp" src="assets/icon/img-bbbcat.jfif" alt="">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button routerLink="/participants" expand="block" size="large" class="ion-margin">
        <ion-icon slot="start" name="logo-octocat"></ion-icon>
        VER PARTICIPANTES
      </ion-button>
      <ion-button routerLink="/form" expand="block" size="large" class="ion-margin">
        <ion-icon slot="start" name="add-circle"></ion-icon>
        NOVO PARTICIPANTE
      </ion-button>
      <ion-button routerLink="/reader" expand="block" size="large" class="ion-margin">
        <ion-icon slot="start" name="reader"></ion-icon>
        REGRAS
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
