<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHred="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Participantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let participant of participants; let i = index">
      {{participant.nome}}
      <ion-button (click)="onClickRemoveItem(i)" slot="end" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="isEmpty()">Ainda não existem participantes cadastrados!</ion-item>
  <ion-item *ngIf="isFull()">
    <ion-button (click)="onClickClearParticipants()" color="danger">
      Limpar Participantes
    </ion-button>
  </ion-item>
</ion-content>
